<div class="jumbtron">
	<div class="container">
	<%= link_to image_tag("movie-theater.jpg"), movies_path %>
	<h4>Tariq's Movie Manager gives you the lowdown on all movies, real and fictional.</h4>
	  <p><a class="btn btn-default btn-lg" href=<%= movies_path %> role="button">Visit Now.</a></p>
	</div>
</div>